* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -2px;
}

h1 {
    font-size: 72px;
    text-align: center;
    color: white;
    align-items: center;
    align-content: center;
}

/* Navigation bar */
nav {
    position: fixed;
    width: 100%;
    top: 0;
    height: 10px;
    align-content: center;
    margin-top: 0;
}

.navigation-bar {
    display: flex;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: rgb(255, 255, 255);
}

.navigation-bar .logo {
    width: 60px;
    border-radius: 50%;
    padding: 5px;
}

.navigation-bar ul {
    display: flex;
    gap: 60px;
}

.navigation-bar ul li {
    list-style: none;
}

.navigation-bar ul li a:hover {
    color: rgb(1, 63, 1);
    border-bottom: 3px solid darkgreen;
}

.navigation-bar .cta {
    border: 3px solid forestgreen;
    border-radius: 7px;
    padding: 5px;
    text-decoration: none;
    color: black;
    background-color: green;
}

.navigation-bar .cta a {
    color: white;
    text-decoration: none;
}

.navigation-bar .cta a:hover {
    color: rgb(1, 63, 1);
}

li a {
    color: green;
}
/* welcoming note */
#welcoming-note {
    background-image: url(/assets/images/realbg.jpg);
    background-position: center;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    scroll-margin-top: 80px;
    align-content: center;
    padding: 0 5px;
}

.welcoming-note h1 {
    margin-top: 0;
}

.welcoming-note p {
    font-size: 28px;
    text-align: center;
    color: white;
    margin: 0 0;
    font-weight: 400;
    line-height: 1.5;
}

.cta-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.cta-container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.cta-container .cta {
    border: 3px solid forestgreen;
    border-radius: 7px;
    padding: 5px;
    text-decoration: none;
    color: rgb(249, 247, 247);
    background-color: green;
}

.cta-container .volunteer-btn {
    border: 3px solid orange;
    border-radius: 7px;
    padding: 5px;
    text-decoration: none;
    color: rgb(249, 247, 247);
    background-color: orange;
    height: 60px;
}